LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "screen" SITE "F3";
IOBUF PORT "screen" IO_TYPE=LVCMOS33;
LOCATE COMP "rst" SITE "R7";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;